body {
    margin: 0;
    padding: 0;
    background-color: #efeee7;
    font-family:  Georgia,"Times New Roman",Times,serif;
    color: #333333;
}

header {
    background-color: hsl(0, 0%, 20%);
}

header h1 {
    color : #eee;
    font-size: 28px;
    margin: 0px;
    padding: 0px;
}

h2 {
    font-size: 24px;
}

.container {
    width : 1024px;
    margin : 0 auto;
}

/* Float the specified elements to the left */
#main-bio,
#contact-info,
#bio-image {
    display: inline-block;
    vertical-align: top; /* Align elements to the top */
    margin: 10px; /* Adjust margin as needed */
}

#main-bio {
    width: 60%; /* Adjust width based on your design */
}

#contact-info {
    width: 30%; /* Adjust width based on your design */
}

#bio-image {
    width: 200px; /* Adjust width based on your design */
}

#bio-image img{
    width : 200px;
}

#mainbio {
    width: 70%;
}

#contact-info {
    width: 30%;
    line-height: 1.5;
}

a {
    color : #d21034;
}

#bio-image img {
    alt:"Bio image Alt text"
}